<%= form_with model: book, local: true do |f| %>
  <div class="form-group"><label>Title</label><br>
    <%= f.text_field :title, class: "form-control" %></div>
  <div class="form-group"><label>Opinion</label><br>
    <%= f.text_area :body, class: "form-control" %></div>
  <div class="actions">
    <%= f.submit 'Create Book', class: "btn btn-success col-xs-12" %>
  </div>
<% end %>