<div class="container">
  <h1 class="text-center">Welcome to <i class="fa fa-book"></i><strong>Bookers!</strong></h1>
</div>
<footer>
  <br><br>
  <div class="text-center">CopyRight Infratop.inc</div>
</footer>